/teststend/__pycache__
build
/.idea/
/create_pdf_with_python_fpdf2_main/
/teststend/список проверенных алгоритмов.txt
/create-pdf-with-python-fpdf2-main.zip
/onblmbl/
/teststend/var_read_mb.py
/teststend/TestTZP.log
/teststend/gen_func_tv1_old.py
/teststend/TestBKZ3MK.log
/teststend/test_script.py
/teststend/msgbox_test.py
/teststend/TestScript.log
/teststend/temp_script.py
